# App
NODE_ENV=production
APP_HOST=0.0.0.0
APP_PORT=3000
APP_TIMEZONE="Asia/Jakarta"

# AI
VERCEL_AI_API_KEY=""
OPENROUTER_API_URL="https://openrouter.ai/api/v1"
OPENROUTER_API_KEY=""

# Telegram
TELEGRAM_BOT_TOKEN=""
WEBHOOK_SECRET_TOKEN="" # Generate with openssl rand -hex 32
WEBHOOK_DOMAIN="https://example.com"
ALLOWED_CHAT_IDS="" # Comma separated list of chat IDs

# Postgres database
DATABASE_HOST="127.0.0.1"
DATABASE_PORT="5432"
DATABASE_USER="dev"
DATABASE_PASSWORD="dev"
DATABASE_NAME="dev_telegram_chatbot"
DATABASE_CONNECTION_LIMIT="10"

# For kysely-codegen
DATABASE_URL=postgres://dev:dev@127.0.0.1:5432/dev_telegram_chatbot